.puce {

    list-style: none;
}



.tagicon {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    padding: 3px 6px;
    background-color: darkgrey;
    margin-bottom: 0.5em;

}

.article {
    margin: 3px;
}

.homme{

    background-color:green;
}
.femme{

    background-color:red;
}
.enfant{

    background-color:blue;
}

.marque-card {
    margin: 5px;
}

.marque-name{

    font-size: 1.2em;
    font-family: 'Martel', serif;
}

.title{
    font-size: 1.4em;
    font-family: 'Martel', serif;
}    