{% extends 'base.html.twig' %}

{% block title %}Nos marques
{% endblock %}

{% block body %}
	<div>
		<h2>
			Nos marques:</h2>

		{% for marque in allmarque %}

			<ul>
				<li><a href="{{ path('marque_read', {'id': marque.id}) }}">{{ marque.name }}</a></li>
			</ul>

		{% endfor %}
	</div>
{% endblock %}
